.privacy-page
  text-align left
  h2, h3
    color #CA8959
  h2
    margin-top 30px
    font-weight 600
    text-align center
  .nav-item .active
    background #CA8959
    color white

  .nav-tabs, .nav-item .active
    border-color #CA8959

.term-conditions-page
  text-align left
  h2, h3
    color #CA8959
  h2
    margin-top 30px
    font-weight 600
    text-align center
  .nav-item .active
    background #CA8959
    color white

  .nav-tabs, .nav-item .active
    border-color #CA8959

  .terms-conditions__content
    color white