.terms-conditions__content
  font-size 14px
  color #000000
  p
    font-size 14px
    line-height 17px
    margin-bottom 0
    &.bold
      font-weight bold
      & + p
        margin-bottom 13px

    ul
      list-style none
      padding 0;
      li:before
        content "•"
        display inline-block
        padding-right 15px

.red-small-notice
  font-size 12px
  color #dd4c4c