@font-face
  font-family $ProximaFont
  font-weight normal
  font-style normal
  src url("../fonts/proxima-regular.ttf")

@font-face
  font-family $ProximaFont
  font-weight bold
  font-style normal
  src url("../fonts/proxima-nova-bold.ttf")