.progressbar-container
  margin-top 34px
  margin-bottom 50px
  max-width 500px
  margin 34px auto 50px
  .raise-to-date
    font-size 20px
    line-height 22px
    height 22px
    vertical-align middle
    text-align left
    color #CA8959

  .softcap
    font-size 14px
    font-weight 600
    line-height 22px
    color #6C6C6C
    height 22px
    text-align center
    align-items center
    vertical-align middle
    .img-softcap
      margin-right 5px

  .hardcap
    float right
    font-size 14px
    font-weight 600
    line-height 22px
    color white
    height 22px
    vertical-align middle
    transform translateX(50%)

  .hardcap-used
    font-size 14px
    color white
    vertical-align middle
    text-align left
    font-weight 600
    padding-top 18px
    margin-bottom 10px

  .noticed-text
    font-size 20px
    font-weight 600
    color #FFFFFF
    text-align center

  .progress-bar-container
    border-radius 8.5px
    background-color #414141
    width 100%
    height 8px
    margin-top 7px
    margin-bottom 5px
    .progress-bar-insider
      height 8px
      border-top-left-radius 8.5px
      border-bottom-left-radius 8.5px
      background-image linear-gradient(90deg, #B76A31 0%, #EC9D62 97%)
      box-shadow 2px 0 11px 0 #FF7F00, inset -2px 0 22px 0 #FFB27A
      .trail
        float right
        height 8px
        width 0px
        border 2px solid #FFFFFF
        box-shadow 0 2px 4px 0 rgba(255, 255, 255, 0.50)

  .progress-border
    position relative
    margin-top -25px
    margin-left -5px
    height 8px
    width calc(100% + 10px)
    border-style solid
    border-radius 100px
    border-width 5px
    border-color transparent
  

