$bodyBgColor := #121212;
$textColor := #e6e6e6;
$textColorSecondary := #a8a8a8;
$sideBarBgColor := #232323;
$popupBgColor := #eaeaea;
$popupTextColor := #585855;

$darkTextColor := #a3a3a3;
$dangerTextColor := #dd4c4c;
$successTextColor := #6DC183;
$primaryTextColor := #1e56a0;
$placeholderColor := #b3b3b3;
$borderColor := #484848;

$primaryColor := #ca8959
$primaryColorHov :=  #ca8959

$dangerBgColor := #A33232;

$infoColor := #0EACF4
$infoColorHov := #0EACF4

$secondaryColor := #888888
$secondaryColorHov := #888888

$darkColor := #2E2E2E
$darkColorHov := #2E2E2E

$headerHeight := 70px;
$mobileHeaderHeight := $headerHeight - 20px;

$paddingControl := 10px;

$guestPageHeader := 140px;
$guestPageFooter := 80px;

$btnPrimaryColor := #ca8959;

$panelColor1 := #191919;
$panelColor2 := $sideBarBgColor;

$ProximaFont := "Proxima-nova";
$normalWeight := normal;
$boldWeight := bold;

// breakpoints
$mediumDeviceDown := "screen and (max-width: 991px)";
