@import "react-datepicker"
@import "_variable"
@import "_common"
@import "_fontface"
@import "_layout"
@import "_nav"
@import "_datepicker"
@import "_select"
@import "_upload_file"
@import "_button"
@import "_flip_clock"
@import "_checkbox"
@import "_table"
@import "_panel"
@import "_modal"
@import "_icon"
@import "_count-down"
@import "_pagination"

@import "_bt_custom"
@import "_progress-custom"
@import "_verify_email_comp"
@import "_ticket-support"

@import "_progressBarCrowdsale"

// pages
@import "pages/_dashboard"
@import "pages/_smartContractDetail"
@import "pages/_termcConditionsContent"
@import "pages/_privacy"
@import "pages/_welcomeReferral"
@import "pages/_buyTokens"
